body {margin:0px; background-color:#FFF; color:#000; font-family:Verdana, Geneva, sans-serif; font-size:13px; line-height:18px;}
form{ margin:0px; padding:0px;}
img{border-style:none;}
h1,h2,h3,h4,p,ul,ol{ margin:0px; padding:0px; padding-bottom:10px;}
h1{ font-size:24px; line-height:30px; color:#000;line-height:normal;font-weight:bold;} 
h2{ font-size:18px; line-height:24px;color:#000; line-height:normal;font-weight:bold;} 
h3{ font-size:14px; line-height:18px; color:#000;line-height:normal;font-weight:bold;}
ul,ol{ padding-left:25px;}
a:hover{ color:#CC0000;}
.wrapper{width:100%; max-width:1400px; min-width:300px;margin:0 auto;padding:0px; } 
.homeSearchDiv, .sidebartext { padding-left:5px;}
.homeSearchDiv{ padding-bottom:10px;}    

.cont_area{width:100%; display:table;}
.left_block{width:23%;display:table-cell; max-width:250px; float:left;padding:3%;background-color:#EFEFEF; border-right:1px solid #CCC; background-color:#EFEFEF; border-right:1px solid #CCC;}  
.cont_block{width:64%;display:table-cell;float:right;padding:3%;} 
.crights{ clear:both; width:94%; padding:3%; float:left; font-size:10px; line-height:14px;  font-size:10px; line-height:14px; border-top:1px solid #999;} 
.titlediv{background-color:#000; color:#FFF; float:left; font-size:18px; line-height:24px; width:94%; padding:3%;}
.menudiv{width:100%; float:left;}
.searchdiv{float:right; width:200px;}
@media only screen and (max-width: 980px) { 
	.wrapper{width:100%; } 
}
@media only screen and (max-width: 660px) { 
	.left_block{clear:both; display:block;max-width:94%;width:94%; border-right:none;}
	.cont_block{width:94%;display:block;}
	.cont_area{display:block;}
}